{% extends "base.html" %}
{% block page_content %}
<div class="col-md-8 offset-md-2">
    <h2><a href="{% url 'blog:blog_detail' post.id %}">{{ post.title }}</a></h2>
    <small>
        {{ post.created_on }} |&nbsp;
        Categories:&nbsp;
        {% for category in post.categories %}
        <a href="{% url 'blog:blog_category' category.name %}">
            {{ category.name }}
        </a>&nbsp;
        {% endfor %}
    </small>
    <p>{{ post.body | linebreaks }}</p>
    <h3>Leave a comment:</h3>
    <form action="{% url 'blog:blog_detail' post.id %}" method="post">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <h3>Comments:</h3>
    {% for comment in comments %}
    <p>
        On {{comment.created_on.date }}&nbsp;
        <b>{{ comment.author }}</b> wrote:
    </p>
    <p>{{ comment.body }}</p>
    <hr>
    {% endfor %}
</div>
{% endblock %}