{% extends "base.html" %}
{% block page_content %}
{% if messages %}
<ul class="messages" style="background-color:#ccc">
{% for message in messages %}
<li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
  {{ message }}
</li>
{% endfor %}
</ul>
{% endif %}
<div class="col-md-8 offset-md-2">
    <h1>Blog Index</h1>
    <hr>
    {% for post in posts %}
    <h2><a href="{% url 'blog:blog_detail' post.id %}">{{ post.title }}</a></h2>
    <small>
        {{ post.created_on }} |&nbsp;
        Categories:&nbsp;
        {% for category in post.categories %}
            <a href="{% url 'blog:blog_category' category.name %}">
                {{ category.name }}
            </a>&nbsp;
        {% endfor %}
    </small>
    <p>{{ post.body | slice:":400" }}...</p>
    {% endfor %}
</div>
{% endblock %}